# ai with pytorch for detecting heart disease in humans

## import dependencies

In [ ]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt

## dataset stuff

### import dataset csv

In [18]:
df = pd.read_csv('dataset.csv')
df = df.sample(frac=1)

#show table
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,diagnosis
219,59,1,4,138,271,0,2,182,0,0.0,1,0.0,3.0,0
57,41,1,4,110,172,0,2,158,0,0.0,1,0.0,7.0,1
262,60,0,1,150,240,0,0,171,0,0.9,1,0.0,3.0,0
274,59,1,1,134,204,0,0,162,0,0.8,1,2.0,3.0,1
48,65,0,3,140,417,1,2,157,0,0.8,1,1.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,61,1,4,138,166,0,2,125,1,3.6,2,1.0,3.0,4
76,60,1,4,125,258,0,2,141,1,2.8,2,1.0,7.0,1
45,58,1,3,112,230,0,2,165,0,2.5,2,1.0,7.0,4
171,53,1,4,142,226,0,2,111,1,0.0,1,0.0,7.0,0
149,60,0,3,102,318,0,0,160,0,0.0,1,1.0,3.0,0

### train test split

In [19]:
ratio = 0.99
total_rows = df.shape[0]
train_size = int(total_rows*ratio)

# Split data into a test dataset and train dataset
train = df[0:train_size]
test = df[train_size:]

#convert to numpy arrays (so its autodiff compatible)
train_data = train.to_numpy()
test_data = test.to_numpy()

#check
print(df)

print(train)
print(test)

print(train_data)
print(test_data)

     age   sex   cp   trestbps   chol   fbs   restecg   thalach   exang  \
219   59     1    4        138    271     0         2       182       0
57    41     1    4        110    172     0         2       158       0
262   60     0    1        150    240     0         0       171       0
274   59     1    1        134    204     0         0       162       0
48    65     0    3        140    417     1         2       157       0
..   ...   ...  ...        ...    ...   ...       ...       ...     ...
264   61     1    4        138    166     0         2       125       1
76    60     1    4        125    258     0         2       141       1
45    58     1    3        112    230     0         2       165       0
171   53     1    4        142    226     0         2       111       1
149   60     0    3        102    318     0         0       160       0

      oldpeak   slope   ca  thal   diagnosis
219       0.0       1  0.0   3.0           0
57        0.0       1  0.0   7.0           1
262       0.9       1  0.0   3.0           0
274       0.8       1  2.0   3.0           1
48        0.8       1  1.0   3.0           0
..        ...     ...  ...   ...         ...
264       3.6       2  1.0   3.0           4
76        2.8       2  1.0   7.0           1
45        2.5       2  1.0   7.0           4
171       0.0       1  0.0   7.0           0
149       0.0       1  1.0   3.0           0

[303 rows x 14 columns]
     age   sex   cp   trestbps   chol   fbs   restecg   thalach   exang  \
219   59     1    4        138    271     0         2       182       0
57    41     1    4        110    172     0         2       158       0
262   60     0    1        150    240     0         0       171       0
274   59     1    1        134    204     0         0       162       0
48    65     0    3        140    417     1         2       157       0
..   ...   ...  ...        ...    ...   ...       ...       ...     ...
293   63     1    4        140    187     0         2       144       1
158   60     1    4        140    293     0         2       170       0
156   51     1    4        140    299     0         0       173       1
241   41     0    2        126    306     0         0       163       0
264   61     1    4        138    166     0         2       125       1

      oldpeak   slope   ca  thal   diagnosis
219       0.0       1  0.0   3.0           0
57        0.0       1  0.0   7.0           1
262       0.9       1  0.0   3.0           0
274       0.8       1  2.0   3.0           1
48        0.8       1  1.0   3.0           0
..        ...     ...  ...   ...         ...
293       4.0       1  2.0   7.0           2
158       1.2       2  2.0   7.0           2
156       1.6       1  0.0   7.0           1
241       0.0       1  0.0   3.0           0
264       3.6       2  1.0   3.0           4

[299 rows x 14 columns]
     age   sex   cp   trestbps   chol   fbs   restecg   thalach   exang  \
76    60     1    4        125    258     0         2       141       1
45    58     1    3        112    230     0         2       165       0
171   53     1    4        142    226     0         2       111       1
149   60     0    3        102    318     0         0       160       0

      oldpeak   slope   ca  thal   diagnosis
76        2.8       2  1.0   7.0           1
45        2.5       2  1.0   7.0           4
171       0.0       1  0.0   7.0           0
149       0.0       1  1.0   3.0           0
[[59 1 4 ... '0.0' '3.0' 0]
 [41 1 4 ... '0.0' '7.0' 1]
 [60 0 1 ... '0.0' '3.0' 0]
 ...
 [51 1 4 ... '0.0' '7.0' 1]
 [41 0 2 ... '0.0' '3.0' 0]
 [61 1 4 ... '1.0' '3.0' 4]]
[[60 1 4 125 258 0 2 141 1 2.8 2 '1.0' '7.0' 1]
 [58 1 3 112 230 0 2 165 0 2.5 2 '1.0' '7.0' 4]
 [53 1 4 142 226 0 2 111 1 0.0 1 '0.0' '7.0' 0]
 [60 0 3 102 318 0 0 160 0 0.0 1 '1.0' '3.0' 0]]

## acc. ai stuff

### training

- using pytorch, numpy, and matplotlib (probably:) )
- using a high train test split ratio to get the best results

In [20]:
class SimpleNN(nn.Module): 
  def __init__(self): 
    super(SimpleNN, self).__init__() 
    self.fc1 = nn.Linear(2, 5)   
    self.relu = nn.ReLU()      # Activation function 
    self.fc2 = nn.Linear(5, 1)  

  def forward(self, x): 
    x = self.fc1(x) 
    x = self.relu(x) 
    x = self.fc2(x) 
    return x

In [21]:
model = SimpleNN() 

# outputs the struct. of the model
print(model)

SimpleNN(
  (fc1): Linear(in_features=2, out_features=5, bias=True)
  (relu): ReLU()
  (fc2): Linear(in_features=5, out_features=1, bias=True)
)

In [22]:
# sample data for training
inputs = torch.tensor([[1.0, 2.0], [2.0, 3.0], [3.0, 4.0]]) 
targets = torch.tensor([[5.0], [7.0], [9.0]])

In [25]:
#calculate mean squared error
criterion = nn.MSELoss() 
optimiser = optim.SGD(model.parameters(), lr=0.01)

In [26]:
for epoch in range(5):                      # Training for 5 epochs 
  optimiser.zero_grad()                     # Clear previous gradients 
  outputs = model(inputs)                # Forward pass 
  loss = criterion(outputs, targets)  # Calculate loss 
  loss.backward()                             # Backward pass to compute gradients 
  optimiser.step()                             # Update weights 
  print(f'Epoch [{epoch + 1}/5], Loss: {loss.item():.4f}')

Epoch [1/5], Loss: 44.8424
Epoch [2/5], Loss: 31.6274
Epoch [3/5], Loss: 17.0044
Epoch [4/5], Loss: 4.4241
Epoch [5/5], Loss: 0.3978